################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net9.0
/DAL/bin/Debug/net9.0
/DAL/obj
/WebApp11May/bin/Debug/net9.0
/WebApp11May/obj
/.vs
