@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET 9 For Hands-On Labs</h1>
    <div>
        This is asp.net core code.
    </div>
</div>
